nb-card {
    padding: 25px;

    .table {
        width: 100%;
    }

    .col-acoes {
        width: 70px;
        align-items: center;
    }
}

.label {
    padding-bottom: 5px;
}

.input {
    width: 100%;
    max-width: none!important;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: center;
}

.acoes {
    display: flex;
    justify-content: center;

    button:first-of-type {
        margin-right: 2px;
    }
}

.col-valor {
    width: 120px;
    text-align: right;
}

.col-data {
    width: 120px;
    text-align: center;
}